.company-container {
    display: flex;
    flex-direction: row;
    border: 2px solid #ebe1f0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background: #c7dff5;
    margin-top: 10px;
}
.company-container-child{
    display: block;
    min-width: 40px;
    border-radius: 25px;
    background: #cda8ff;
    width: 40px;
    height: 40px;
}
.company-image{
    display: block;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-width: 0;
    outline: none;
    border-radius: 60px;
    object-fit: cover;
}
.company-name{
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 800;
    color: #566474;
    border-radius: 5px;
    padding: 5px;
    background: #dad4f0;
}
.some-text{
    font-family: 'DM Sans';
    font-size: 14px;
    color: black;
}
.company-profile-box {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    color: black;
}
.company-profile-box > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-size: 15px;
}
.company-form{
    background: black;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 1px 3px;
    cursor: pointer;
}
.company-form-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}
.company-form-image-container{
    border-radius: 50px;
    background: #cda8ff;
    padding: 1px;
}
.company-save-button{
    background: #131c30;
    color: rgb(0, 236, 255);
    font-weight: bold;
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.company-public-pfp-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 95%;
    padding: 5px;
}
.company-public-pfp-container-div{
    position: relative;
    height: 240px;
    background: #4d2d57;
    margin-bottom: 20px;
    border-radius: 5px;
}
.ppfp-name{
    font-size: 35px;
    font-family: 'DM Sans';
    color: white;
    margin: 5px;
}
.ppfg-intro{
    font-size: 15px;
    font-family: 'DM Sans';
    color: white;
    margin: 5px;
}
.overview{
    font-size: 25px;
    font-family: "DM Sans";
    font-weight: 500;
    background: rgb(32, 18, 50);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}
.container-parent{
    display: flex;
    flex-direction: row;
    min-width: 30%;
    background: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.heading-container{
    font-family: 'DM Sans';
    font-size: 24px;
    font-weight: 500;
    color: black;
}
.value-container{
    margin-right: 0px;
    margin-left: auto;
    font-family: 'DM Sans';
    font-size: 24px;
    font-weight: 400;
    color: blue;
}
.big-text{
    font-size: 25px;
    font-family: "DM Sans";
    font-weight: 500;
    background: rgb(32, 18, 50);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}
.about-text-content{
    font-size: 16px;
    min-width: 30%;
    background: aliceblue;
    padding: 10px;
    font-family: 'DM Sans';
    font-weight: 400;
    border-radius: 5px;
    margin-top: 5px;
}