.out-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: black;
}
.skill-value{
    background: black;
    color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
}